(defwindow bar
{{- if eq .chezmoi.hostname "ArchLaptop" }}
  :monitor 0
{{- else if eq .chezmoi.hostname "WorkLaptop" }}
  :monitor 0
{{ end }}
  :geometry (geometry :x "0%"
                      :y "0px"
                      :width "98%"
                      :height "12px"
                      :anchor "top center")
  :stacking "bg"
  :exclusive "true"
  :focusable "false"
  (bar))


