# Please note not all available settings / options are set here.
# For a full list, see the wiki
#

# See https://wiki.hyprland.org/Configuring/Monitors/
{{- if eq .chezmoi.hostname "ArchLaptop" }}
monitor=, highres, 1600x0, 1
monitor=eDP-1, 2560x1440@165, 0x100, 1.60
{{- end }}

{{- if eq .chezmoi.hostname "WorkLaptop" }}
monitor=eDP-1, 1920x1200,0x0 ,1 ,bitdepth, 10
{{- end }}


# See https://wiki.hyprland.org/Configuring/Keywords/ for more

# Execute your favorite apps at launch
# exec-once = waybar & hyprpaper & firefox

# Source a file (multi-file configs)
# source = ~/.config/hypr/myColors.conf
source = ~/.cache/wal/hyprland-colors.conf
# Some default env vars.
env = XCURSOR_SIZE,24
env = GDK_BACKEND,wayland,x11
env = SDL_VIDEODRIVER,wayland
env = CLUTTER_BACKEND,wayland
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_TYPE,wayland
env = XDG_SESSION_DESKTOP,Hyprland
env = QT_AUTO_SCREEN_SCALE_FACTOR,1
env = QT_WAYLAND_DISABLE_WINDOWDECORATION,1
env = QT_QPA_PLATFORMTHEME,qt5ct
env = MOZ_ENABLE_WAYLAND,1 firefox
{{- if eq .chezmoi.hostname "ArchLaptop" }}
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = WLR_NO_HARDWARE_CURSORS,1
{{- end }}

# For all categories, see https://wiki.hyprland.org/Configuring/Variables/
input {
    kb_layout = gb
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =

    force_no_accel = true
    follow_mouse = 1

    touchpad {
        natural_scroll = no
    }

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
}

general {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    gaps_in = 5
    gaps_out = 15
    border_size = 2
    col.active_border = $color9 $color6 $color15 $color6 $color9 40deg
    col.inactive_border = $background
    allow_tearing = false

    layout = dwindle
}

decoration {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
	blur {
    enabled = true
    size = 3
    passes = 1
    new_optimizations = true
	}

    rounding = 10
    drop_shadow = yes
    shadow_range = 15
    shadow_render_power = 3
    col.shadow = $background
    #col.shadow = rgba(1a1a1aee)
}

animations {
    enabled = yes

    # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default
}

dwindle {
    # See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
    pseudotile = yes # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = yes # you probably want this
}

master {
    # See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
    new_is_master = true
}

gestures {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    workspace_swipe = true
}

# Example per-device config
# See https://wiki.hyprland.org/Configuring/Keywords/#executing for more
device:epic-mouse-v1 {
    sensitivity = -0.5
}

# Example windowrule v1
# windowrule = float, ^(kitty)$
# Example windowrule v2
# windowrulev2 = float,class:^(kitty)$,title:^(kitty)$
# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more

misc {
     disable_hyprland_logo = true
}

# See https://wiki.hyprland.org/Configuring/Keywords/ for more

#############################
#############################
##### Hyprland Keybinds #####
#############################
#############################

# Set variables
$mainMod = SUPER
$shiftmainMod = $mainMod_SHIFT
$altmainMod = $mainMod_ALT

# Common Apps
$launcher = ~/.config/rofi/launchers/type-7/launcher.sh

##################
## App Keybinds ##
##################

# Terminal
bind = $mainMod, Return, exec, kitty

# Launcher
bind = $mainMod, D, exec, $launcher

# Browser
bind = $mainMod, B, exec, firefox

# Editor
bind=$mainMod,E,submap,editor
submap=editor
bind=,E,exec,emacsclient -c -a 'emacs'
bind=,E,submap,reset
bind=,V,exec,kitty vim
bind=,V,submap,reset
bind=,O,exec,obsidian
bind=,O,submap,reset
submap=reset

# Terminal Apps
bind=$altmainMod,Return,submap,terminalapps
submap=terminalapps
bind=,E,exec,kitty vim
bind=,E,submap,reset
bind=,R,exec,kitty ranger
bind=,R,submap,reset
bind=,M,exec,kitty ncmpcpp
bind=,M,submap,reset
bind=,N,exec,kitty nmtui
bind=,N,submap,reset
bind=,B,exec, kitty btop
bind=,B,submap,reset
submap=reset

# Eww Control Center
bind=$mainMod,space,exec,~/.config/eww/bar/scripts/eww-control
bind=$altmainMod,space,exec,~/.config/eww/bar/scripts/eww-bar-control

#################
## WM Keybinds ##
#################

# Reload Hyprland
bind = $shiftmainMod,R,exec,hyprctl reload

# Close focused Window
bind = $shiftmainMod, Q, killactive,


## Navigation:

# Focusing windows:
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, J, movefocus, d

# Moving Windows
bind = $shiftmainMod, H, movewindow, l
bind = $shiftmainMod, L, movewindow, r
bind = $shiftmainMod, K, movewindow, u
bind = $shiftmainMod, J, movewindow, d

# Focus Workspace
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# Send to Workspace
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

# Scratch Pad
bind=SUPER_SHIFT,S,movetoworkspace,special:scratch
bind=SUPER,S,togglespecialworkspace, scratch
bind=SUPER,O,togglespecialworkspace, 1pass

# Scroll Workspaces
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

## Resize:

# Mouse resize
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# Keyboard Resize
bind=$mainMod,R,submap,resize
submap=resize
binde=,L,resizeactive,10 0
binde=,H,resizeactive,-10 0
binde=,K,resizeactive,0 -10
binde=,J,resizeactive,0 10
bind=,escape,submap,reset
submap=reset

# Toggle Gaps
bind=$mainMod,G,submap,gapstoggle
submap=gapstoggle
bind=,0,exec,hyprctl keyword general:gaps_in 0 && hyprctl keyword general:gaps_out 0
bind=,0,submap,reset
bind=,1,exec,hyprctl keyword general:gaps_in 5 && hyprctl keyword general:gaps_out 15
bind=,1,submap,reset
submap=reset

# Set window tiling state
bind = $mainMod, V, togglefloating,
bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, T, togglesplit, # dwindle

# Fullscreen
bind=$mainMod, F, fullscreen,

# Quit WM
bind = $shiftmainMod,x,exit,

##########
## Misc ##
##########

# Toggle Touchpad
bind=,XF86TouchpadToggle,exec,~/.config/scripts/touchpad-toggle.sh

## media control
bind=,XF86AudioLowerVolume,exec,wpctl set-volume -l 1.0 @DEFAULT_AUDIO_SINK@ 5%-
bind=,XF86AudioRaiseVolume,exec,wpctl set-volume -l 1.0 @DEFAULT_AUDIO_SINK@ 5%+
bind = , XF86AudioPlay, exec, mpc -q toggle

{{- if eq .chezmoi.hostname "ArchLaptop" }}
# Toggle Laptop Profile:
bind=,XF86Launch4,exec,asusctl profile -n & notify-send "Laptop Profile:" "$(asusctl profile --profile-get)" & sleep 5
{{- end }}

##################
## Startup Apps ##
##################

## Appearance:

# Bar:
exec-once=eww -c /home/zekea/.config/eww/bar daemon
exec-once=eww -c /home/zekea/.config/eww/bar open bar
exec-once=eww -c /home/zekea/.config/eww/control daemon

# Wallpaper:
exec-once=hyprpaper

## System Apps

# NetworkManager
exec-once=nm-applet

# Time Settings
#exec-once=ntpd -qg

# Emacs Server
exec-once=emacs --bg-daemon

# Notifications
exec-once=dunst -c /home/zekea/.config/dunst/dunstrc

# Screen Locker
exec-once=xautolock -time 10 -locker '/home/zekea/.config/scripts/i3lock.sh'

#Polkit
exec-once=/usr/lib/polkit-kde-authentication-agent-1
exec-once=1password

#Udiskie
exec-once=udiskie

# Music
exec-once=mpd
exec-once=spotify

# autolock
exec=swayidle -w timeout 1800 '/home/zekea/.config/scripts/swaylock.sh'


{{- if eq .chezmoi.hostname "ArchLaptop" }}
# Games:
exec-once=discord
exec-once=firefox && hyprctl dispatch movetoworkspacesilent 10, class:(firefox)
{{- end }}

##################
## Window Rules ##
##################


{{- if eq .chezmoi.hostname "ArchLaptop" }}
# Games:
windowrulev2 = workspace 9 silent ,class:(steam)
windowrulev2 = workspace 8 silent ,class:(discord)
windowrulev2 = workspace 8 silent ,class:(Spotify)
windowrulev2 = workspace 9 silent ,class:(lutris)
windowrulev2 = forceinput ,class:(GodotGame1)
windowrulev2 = float,class:^(leagueclientux.exe)$,title:^(League of Legends)
#windowrule = size 1600 900,^(leagueclientux.exe)
windowrule = center,^(leagueclientux.exe)
windowrulev2 = float,class:^(league of legends.exe)$,title:^(League of Legends (TM) Client)$ windowrule = size 2560 1080,^(league of legends.exe)
windowrulev2 = workspace 10 silent, class:^(league of legends.exe)
windowrule = center,^(league of legends.exe)
windowrulev2 = monitor DP-2,class:^(league of legends.exe)
windowrule = forceinput,^(league of legends.exe)
{{- end }}

# Work:
windowrulev2 = workspace 2 silent ,class:(obsidian)

# Misc:
windowrulev2 = workspace name:lock silent ,class:(lockscreen)
windowrulev2 = workspace 8 silent ,title:(Spotify Premium)
windowrulev2 = workspace special:1pass silent ,class:(1Password)

## Workspace Rules

workspace = 8, monitor:0, gapsin:0, gapsout:0

{{- if eq .chezmoi.hostname "ArchLaptop" }}
workspace = 10, monitor:1, gapsin:5, gapsout:15
workspace = 1, monitor:1, gapsin:5, gapsout:15
{{- end }}
