#!/usr/bin/bash
{{- if eq .chezmoi.hostname "ArchLaptop" }}
hyprctl --batch "keyword monitor eDP-1,2560x1440@165,0x400,1.6,mirror,DP-2 ; dispatch workspace name:lock"
{{- else if eq .chezmoi.hostname "WorkLaptop" }}
hyprctl --batch "keyword monitor eDP-1,1920x1200@60,0x0 ,1 ,mirror,DP-2, bitdepth, 10; dispatch workspace name:lock"
{{- end }}
kitty --class=lockscreen --start-as=fullscreen bash -c "sleep 0.5; cbonsai --life 40 --multiplier 5 --time 1 -li" &
sleep 0.5
kitty bash -c "swaylock"
killall cbonsai
hyprctl dispatch workspace 1
{{- if eq .chezmoi.hostname "ArchLaptop" }}
hyprctl keyword monitor eDP-1,2560x1440@165,0x400,1.6
{{- else if eq .chezmoi.hostname "WorkLaptop" }}
hyprctl keyword monitor eDP-1, 1920x1200,0x0 ,1 ,bitdepth, 10
{{- end }}
