(defwindow bar
{{- if eq .chezmoi.hostname "ArchLaptop" }}
  :monitor 1
{{- else }}
  :monitor 0
{{- end }}
  :geometry (geometry :x "20px"
                      :y "0%"
                      :width "15%"
                      :height "91%"
                      :anchor "right center")
  :stacking "fg"
  :exclusive "false"
  :focusable "false"
  (ctrl_centre))
